<p>Proyecto para usar la API de Pokémon utilizando Angular y Bootstrap. La aplicación utiliza la API de Pokémon para obtener datos sobre los Pokemons y permite a los usuarios buscar Pokemons específicos.</p>
<h3>1- Características</h3>
<hr>
<p>Home: Página principal con un poco de información de la web oficial de la API:
https://pokeapi.co/</p>
<p>Pokemon List: Página donde enseñara 8 pokemons aleatorios en pantalla.</p>
<p>Pokemon Detail: Enseñara toda la informacíon del pokemon que queramos.</p>
<p>About: Información extra.</p>
<p>Search: Para buscar pokemons con un nombre en concreto.</p>
<p>Login: Logearse en la pagina (aun no funciona).</p>
<hr>
<h3>2- Tecnologias Utilizadas</h3>
<hr>
<li>Angular</li>
<li>Bootstrap</li>
<li>API de Pokémon</li>