<div>
    <h1>Pokémon API - Joan de la Huerta</h1>
    <hr>
    <div>
        <h2>What is this?</h2>
        <div>
            <p>This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main
                game series.</p>
            <p>We've covered everything from Pokémon to Berry Flavors.</p>
        </div>
    </div>
    <div>
        <h2>Where do I start?</h2>
        <div>
            <p>We have awesome <a href="https://pokeapi.co/docs/v2">documentation</a> on how to use this API. It takes
                minutes to get
                started.</p>
            <p>This API will always be publicly available and will never require any extensive setup process to consume.
            </p>
        </div>
    </div>
</div>